/* keyboard - demo CSS */
html, body, div, input, textarea {
 font-family: Verdana,Tahoma,Segoe,sans-serif;
 font-size: 14px;
}

body { background: #333; color: #ddd; height: 100%; }
 a:link { color: #9fcdff; text-decoration: none; }
 a:hover { color: #fff; }
 a:visited,a:active { color: #53a5ff; }

#page-wrap { width: 800px; margin: 0 auto; height: 100%; }

h1, h2, h3 { color: #ddd; text-align: center; }
h2 { margin: 5px; font-size: 130%; }
#switcher { width: 150px; margin: 10px auto; }
#console { width: 800px; list-style-type: none; margin: 0 auto; padding: 0; }
#console li { text-align: center; }

.block { float: left; padding-left: 30px; margin-bottom: 30px; text-align: center; }
textarea, input { width: 220px; background: #333; color: #ddd; border: #777 1px solid; padding: 5px 0; }
.hiddenInput { display: inline-block; width: 220px; }
.clear { clear: both; }

/* used .alignRight instead of #num (for the number pad) here because the virtual keyboard
 strips IDs from the input - ID's are supposed to be unique! */
.alignRight { text-align: right; }
